<footer class="foot">
        <div>
            <div class="row-expanded">
                <div class="large-3 large-centered columns">
                    <h3>Contact Us</h3>
                </div>
            </div>
        </div>
        <div id="footer-content">
            <div class="row">
                <a id="contacts"></a>
                <div class="large-7 large-push-5 medium-6 medium-uncentered small-11 small-centered columns message">
                    <p>Send us a message! You can also contact your preferred local tool provider for all pricing.</p>
                    <form action="https://devbierer.dubosewebgroup.com/?ACT=62" methon="post">

                        <div class="row">

                            <di,v class="large-12 columns">
                                <input type="text" name="name" value="" placeholder="Name" required="required" />
                            </div>

                            <div class="large-12 columns">
                                <input type="email" name="email" value="" placeholder="Email" required="required" />
                            </div>

                            <div class="large-12 columns">
                                <input type="text" name="department" value="" placeholder="Department" required="required" />
                            </div>

                            <div class="large-12 columns">
                                <textarea name="message" placeholder="Message"></textarea>
                            </div>

                            <div class="large-12 columns">
                                <button type="submit" class="button float-right">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="large-5 large-pull-7 columns bottom-middle-content">
                    <h5>Bierer<span class="colorchange"> & </span>Associates</h5>
                    <p>10730 Farrow Road <br/> Blythewood, SC 29016 <br/> <a href="mailto:customer_service@bierermeters.com">customer_service@bierermeters.com</a></p>
                    <h6>803-786-4839</h6>
                    <p class="flag"><span>Made in America</span></p>
                </div>
            </div>
        </div>
        <div class="large-12 columns bottom-content">
            <p> &copy; 2017 Bierer &amp; Associates &nbsp; &nbsp; <a href="https://www.duboseweb.com">Website Design by DuBose Web Group</a></p>
        </div>
    </footer>
    </div>




    <script type="text/javascript" src="/_js/vendor/jquery.js"></script>
    <script type="text/javascript" src="/_js/vendor/jquery.mmenu.all.min.js"></script>
    <script type="text/javascript" src="/_js/vendor/ScrollWatch.js"></script>
    <script type="text/javascript" src="/_js/vendor/jquery.mmenu.fixedelements.min.js"></script>
    <script type="text/javascript" src="/_js/vendor/foundation.min.js"></script>
    <script src="/_js/main.js"></script> 
                
                  
    
</body>

</html>